*.a
aclocal.m4
autom4te.cache
build
Build
claims.log
conf
conf/config
Config.cpp
/config.guess
/config.h
/config.h.in
config.log
config.status
/config.sub
/configure
cproject
*.dat*
Debug.h
Default
/depcomp
/doc
.gitignore.swp
.history
ar-lib
lex.yy.c
config.h.in~
/include/
install/
/install-sh
libtool
ltmain.sh
Makefile
Makefile.in
/missing
*.o
*.Po
.project
.settings
src/main/parser
stamp-h1
.svn/*
test/main/parser_test
.cproject
#thirdparty/
